body {
    margin: 0;
    justify-content: center;
    display: flex;

}

.page {
    width: 100%;
    max-width: 1100px;
}


.mainGrid {
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 10px;
}

.mainDiv {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
}

.nav-left {
    z-index: 100;
    padding: 10px;
}

.navMenu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.navMenu li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(73, 15, 15);
    padding: 5px;
    border-radius: 10px;
}

.navMenu li a:hover {
    background-color: rgb(168, 167, 167);
    color: white;
}

.rightcontent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;

}


.child1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 20px;
}

.gchild1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gchild1 img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(223, 221, 221);
}

.line1and2 {
    display: flex;
    gap: 20px;
    font-family: Arial, sans-serif;
    align-items: center;
}

.line1and2 button {
    background-color: #eceaea;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.ggc3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;

}

.username {
    background-color: rgb(207, 207, 205);
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
}

.ggc3 a {
    text-decoration: none;
    color: #002d68;
    font-weight: bold;
}


.child2 {
    display: flex;
    justify-content: space-between;
    margin: 20px;

}

.child2 img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: #bebcbc solid 5px;
}


.child3 {
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.child3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    list-style: none;
}

.footer li a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: #737373;
    font-weight: bold;
    font-size: 12px;
}