.top-nav {
    margin-right: 15px;
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    z-index: 100;
}

.menu {
    list-style: none;
    display: flex;
    gap: 22px;
}

.menu li a {
    color: rgb(252, 215, 96);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.9;
}

.menu li a:hover {
    opacity: 1;
    color: rgb(248, 162, 57);
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    color: rgb(252, 215, 96);
    cursor: pointer;
}



.header {
    display: grid;
    grid-template-columns: auto;
    background-color: #DE3163;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-variant: small-caps;
    color: rgb(255, 232, 183);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 250px);
    gap: 10px;
    background-color: rgb(194, 190, 190);
    padding: 5px;
}

.container div {
    background-color: #DE3163;
    text-align: center;
    padding: 5px;
    overflow: hidden;

}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
}

.item2 {
    grid-column: 3;
    grid-row: 1;
}

.item3 {
    grid-column: 3;
    grid-row: 2;
}

.item4 {
    grid-column: 3;
    grid-row: 3;
}



.footer {
    display: grid;
    grid-template-columns: auto;
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .header {
        display: grid;
        grid-template-columns: auto;
        background-color: #DE3163;
        padding: 10px;
        text-align: center;
        margin-bottom: 10px;
        font-variant: small-caps;
        color: rgb(255, 232, 183);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .item1 {
        grid-column: 1;
        grid-row: 1;
    }

    .item2 {
        grid-column: 1;
        grid-row: 2;
    }

    .item3 {
        grid-column: 1;
        grid-row: 3;
    }

    .item4 {
        grid-column: 1;
        grid-row: 4;
    }

    .menu {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background: #e94976;
        flex-direction: column;
        padding: 15px 25px;
        z-index: 999;
    }

    .menu.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}