body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #016149;

}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

small {
    color: red;
    position: absolute;
    bottom: -18px;
    left: 0;
    visibility: hidden;
}

.form-group.success input {
    border-color: green;
}

.form-group.error input {
    border-color: red;
}

.form-group.success small {
    color: green;
    visibility: visible;
}

.form-group.error small {
    visibility: visible;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #018161;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    align-items: center;
}

button:hover {
    background: #016149;
}