.mainGrid{
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 10px;
    margin-bottom: 10px;
}

.mainDiv {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
}

.nav-left {
    z-index: 100;
    padding: 10px;
}

.navMenu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.navMenu li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(73, 15, 15);
    padding: 5px;
    border-radius: 10px;
}

.navMenu li a:hover {
    background-color: rgb(168, 167, 167);
    color: white;
}


.child1{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 20px;
}

.child1 img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    align-items: center;
}

.item1 {
    grid-column: 1 / span 1;
    grid-row: 1/ span 1;
}

.item2 {
    grid-column: 2;
    grid-row: 1;
    grid-template-columns: 1;
    grid-template-rows: 3;
    padding: 10px;
}

.item21 {
    display: grid;
    gap: 30px;
    grid-template-columns: 120px 1fr;
    align-items: center;
    font-family: Arial, sans-serif;

}

.item21child1 {
    grid-row: 1 / span 3
}

.item21child1 img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.item21child2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item21child2 a{
    a {
  color: #00376b;
  text-decoration: none;
}

}


.itm21 btn {
    background-color: #efefef;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.item22 {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    gap: 20px;
}

.item22 img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.item23 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 200px);
}

.item2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}





.child2{
    display: flex;
justify-content: space-between;
    margin-bottom: 20px;

}
.child2 img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: #bebcbc solid 5px;
}


.child3{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.child3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}