body {
    font-family: Arial, sans-serif;
    background: #f5efe6;
}

.container {
    width: 420px;
    background: #fff;
    margin: 40px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
    text-align: center;
    color: #ba0079;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #ba0079;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #ba0079;
}

img {
    display: block;
    margin: 15px auto;
    width: 220px;
}

.hidden {
    display: none;
}